* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

.top-header {
  background: #eeeeee;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.top-bar li {
  font-size: 16px;
  color: #616161;
  padding: 0 15px 0 0px;
}

.top-bar-menu {
  padding: 10px 0px;
}

.header {
  margin: 10px 0px;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 45px;
}

.header li {
  padding: 0px 10px;
}

.header a {
  font-family: OpenSans-Regular;
  color: #000000;
  font-weight: 300;
  font-size: 14px;
}

.header .fa {
  padding: 0px 5px;
}

.header-logo img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner {
  margin: 20px 0px;
}

.banner-images img {
  width: 100%;
}

.main h3 {
  color: #000;
  font-size: 15px;
  margin-bottom: 3rem;
}

.main-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.main-title {
  color: #000000;
  font-size: 20px;
}

.main-fillter {
  border: 1px solid #222020;
  border-radius: 25px;
}

.main-fillter select {
  outline: 0px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  padding: 0px 50px 0px 10px;
  border: none;
}

.collection-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection-list .collection-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 24px 0px;
  padding: 0 5px;
}

.collection-list .collection__item--title,
.collection-list a {
  text-align: center;
  color: #000000 !important;
  font-weight: 600;
}

.collection-list .collecton__item--img img {
  width: 100%;
  border: 1px solid #ece5e5;
  margin-bottom: 1rem;
}

.collection-list .collection__item--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection-list .item-price {
  padding: 0px 5px;
  color: #e53935;
}

.collection-list .item-price-sale {
  font-size: 14px;
  color: #666666;
  text-decoration: line-through;
}

.card-custom {
  background-color: #000000 !important;
}

.card-custom h1 {
  font-size: 17px;
  color: #ffffff;
}

ul.list-group li {
  font-size: 14px;
}

.input-custom input {
  padding: 5px 5px;
}

.main-cart h3 {
  color: #000;
  font-size: 15px;
  margin-bottom: 3rem;
}

.cart h1 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 25px;
  color: #000000;
  padding: 0 0 15px;
  margin-bottom: 2rem;
}

.cart table tr th {
  text-align: center;
}

.cart-images img {
  width: 120px;
}

.cart-product h4 {
  font-size: 18px;
  text-align: center;
  padding-top: 50px;
}

.cart-product p {
  margin: 7px 35px;
}

.cart-btn {
  padding: 2px 15px;
  margin: 0 35px;
}

.cart-price {
  padding: 64px;
  text-align: center;
  font-size: 18px;
}

.cart-qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 64px;
}

.cart .qty-input {
  width: 30%;
  height: 30px;
  text-align: center;
}

.cart-total {
  padding: 64px;
  font-size: 18px;
}

.cart .table {
  border-bottom: 1px solid #e5e5e5;
}

.total {
  text-align: right;
}

.total-price p {
  font-size: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.total-price h3 {
  padding: 0px 45px;
  margin: 10px -18px;
  font-size: 17px;
}

.total .total-price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.total .total-btn-cart {
  border-radius: 3px;
  background-color: #000000;
  color: #fff;
  padding: 8px 10px;
}

.overlay-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay-cart .fa {
  font-size: 20px;
  color: red;
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */